<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2007-2020 Crafter Software Corporation. All Rights Reserved.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License version 3 as published by
  ~ the Free Software Foundation.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<plugin version="1.0">
  <id>@PLUGIN_ID@</id>

  <type></type>

  <name>@PLUGIN_NAME@</name>
  
  <version>1.0.0</version>
  
  <description></description>
  
  <tags>
    <tag></tag>
  </tags>
  
  <website>
    <name></name>
    <url></url>
  </website>
  
  <media>
    <screenshots>
      <screenshot>
        <title></title>
        <description></description>
        <url></url>
      </screenshot>
    </screenshots>
    <videos>
      <video>
        <title />
        <description />
        <url />
      </video>
    </videos>
  </media>
  
  <organization>
    <name></name>
    <url></url>
  </organization>
  
  <developers>
    <developer>
      <name></name>
      <email></email>
    </developer>
  </developers>
  
  <!-- Placeholders will be replaced during packaging -->
  <build>
    <date>@BUILD_DATE@</date>
    <number>@BUILD_NUMBER@</number>
  </build>
  
  <license>
    <name></name>
    <url></url>
  </license>
  
  <price>
    <paid></paid> <!-- boolean, if not then it's free -->
    <amount></amount>
    <currency></currency>
  </price>
  
  <crafter-versions-supported>
    <range>
      <min>3.1.0</min>
      <max>3.1.0</max>
    </range>
  </crafter-versions-supported>
  
  <crafter-edition></crafter-edition><!-- any, community, or enterprise -->
</plugin>
